<!-- <div *ngIf="convencionistasResource.value()?.length > 0" class="overflow-x-auto mt-6"> -->
<table class="table table-zebra w-full">
  <thead>
    <tr>
      <th>
        <input #selectAll type="checkbox" (change)="seleccionaTodos(selectAll.checked)"
          class="checkbox" />
      </th>
      <th>Id</th>
      <th>Clave</th>
      <th>Convencionista</th>
    </tr>
  </thead>
  <tbody>
    @for (convencionista of convencionistasResource.value(); track convencionista.id) {
    <tr>
      <td>
        <input type="checkbox" class="checkbox" [checked]="convencionista.seleccionado"
          (change)="seleccionaConvencionista(convencionista)" />
      </td>
      <td>{{ convencionista.id }}</td>
      <td>{{ convencionista.clave }}</td>
      <td>{{ convencionista.nombreCompleto }}</td>
    </tr>
    }
  </tbody>
</table>
