<div class="form-control w-full">
  <div class="flex items-center gap-2 mb-2">
    <input type="checkbox" (change)="seleccionaTodos(getChecked($event))" class="checkbox checkbox-primary checkbox-sm"
    />
    <label class="label">
      <span class="label-text font-bold text-base">Convencionistas</span>
    </label>
  </div>
  <div class="border border-base-200 bg-base-100">

  <select class=" w-full" multiple [size]="convencionistasResource.value()?.length || 4"
    (change)="selecciona($event)">
    @for (convencionista of convencionistasResource.value(); track convencionista.id) {
    <option [value]="convencionista.id" [selected]="convencionista.seleccionado">
      {{ convencionista.nombreCompleto }}
    </option>
    }
  </select>
</div>
</div>

