@if (credencialesResource?.error()) {
<shared-not-found mensaje="No se encontraron las credenciales solicitadas" />
}
@if (!credencialesResource?.error()) {
<div class="min-h-screen flex items-center justify-center bg-base-200 p-5">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="bg-base-100 p-8 rounded-2xl shadow-lg w-full max-w-4xl">
    <h2 class="text-3xl font-bold mb-6">Credenciales Microsoft</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <!-- tenantId -->
      <div>
        <label class="label w-full">tenantId</label>
        <input type="text" formControlName="tenantId" class="input input-bordered w-full" readonly />
        @if (formUtils.isValidField(myForm, 'tenantId')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'tenantId')}}
        </small>
        }
      </div>

      <!-- clientId -->
      <div>
        <label class="label">clientId</label>
        <input type="text" formControlName="clientId" class="input input-bordered w-full" readonly />
        @if (formUtils.isValidField(myForm, 'clientId')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'clientId')}}
        </small>
        }
      </div>

      <!-- scope -->
      <div>
        <label class="label">scope</label>
        <input type="text" formControlName="scope" class="input input-bordered w-full" readonly />
        @if (formUtils.isValidField(myForm, 'scope')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'scope')}}
        </small>
        }
      </div>

      <!-- grantType -->
      <div>
        <label class="label">grantType</label>
        <input type="text" formControlName="grantType" class="input input-bordered w-full" readonly />
        @if (formUtils.isValidField(myForm, 'grantType')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'grantType')}}
        </small>
        }
      </div>

      <!-- userId -->
      <div>
        <label class="label">userId</label>
        <input type="text" formControlName="userId" class="input input-bordered w-full"readonly />
        @if (formUtils.isValidField(myForm, 'userId')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'userId')}}
        </small>
        }
      </div>

      <!-- email -->
      <div>
        <label class="label">email</label>
        <input type="text" formControlName="email" class="input input-bordered w-full" readonly />
        @if (formUtils.isValidField(myForm, 'email')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'email')}}
        </small>
        }
      </div>

      <!-- clientSecret -->
      <div>
        <label class="label">clientSecret</label>
        <input type="text" formControlName="clientSecret" class="input input-bordered w-full" />
        @if (formUtils.isValidField(myForm, 'clientSecret')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'clientSecret')}}
        </small>
        }
      </div>

    </div>

    <!-- Botones -->
    <div class="flex justify-end mt-8 gap-4">
      <button type="button" class="btn btn-neutral" (click)="goBack()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
}
