<form [formGroup]="eventoForm" (ngSubmit)="guardar()" class="flex flex-col gap-4 max-w-lg mx-auto">

  <input type="text" placeholder="Evento" formControlName="evento" class="input input-bordered" />

  <input type="text" placeholder="Subtítulo" formControlName="subtitulo" class="input input-bordered" />

  <input type="datetime-local" placeholder="Fecha Inicial" formControlName="fechaInicial"
    class="input input-bordered" />

  <input type="datetime-local" placeholder="Fecha Final" formControlName="fechaFinal" class="input input-bordered" />

  <div class="flex items-center gap-2">
    <label for="estatus">Estatus:</label>
    <input type="checkbox" formControlName="estatus" id="estatus" class="toggle" />
  </div>

  <input type="text" placeholder="Dirección" formControlName="direccion" class="input input-bordered" />

  <input type="text" placeholder="Latitud" formControlName="latitud" class="input input-bordered" />

  <input type="text" placeholder="Longitud" formControlName="longitud" class="input input-bordered" />

  <button type="submit" class="btn btn-primary">Guardar</button>

</form>
