<div class="min-h-screen flex items-center justify-center bg-base-200">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="bg-base-100 p-8 rounded-2xl shadow-lg w-full max-w-4xl">
    <h2 class="text-3xl font-bold mb-6">Datos de la convención</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      @if (isEditMode) {
        <div>
          <label class="label">ID</label>
          <input type="text" formControlName="id" class="input input-bordered w-full" readonly />
        </div>

        <!-- Estatus -->
        <div>
          <label class="label w-full">Estatus</label>
          <input type="checkbox" formControlName="activo" class="toggle toggle-primary " />
          @if (formUtils.isValidField(myForm, 'activo')){
          <small class="text-error">
            {{formUtils.getFieldError(myForm, 'activo')}}
          </small>
          }
        </div>
      }

      <!-- Nombre -->
      <div>
        <label class="label">Nombre</label>
        <input type="text" formControlName="nombreEvento" class="input input-bordered w-full" />
        @if (formUtils.isValidField(myForm, 'nombreEvento')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'nombreEvento')}}
        </small>
        }
      </div>

      <!-- Lugar destino -->
      <div>
        <label class="label">Lugar destino</label>
        <input type="text" formControlName="lugarDestino" class="input input-bordered w-full" />
        @if (formUtils.isValidField(myForm, 'lugarDestino')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'lugarDestino')}}
        </small>
        }
      </div>

      <!-- Latitud -->
      <div>
        <label class="label">Latitud</label>
        <input type="tel" formControlName="latitud" class="input input-bordered w-full" />
        @if (formUtils.isValidField(myForm, 'latitud')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'latitud')}}
        </small>
        }
      </div>

      <!-- Longitud -->
      <div>
        <label class="label">Longitud</label>
        <input type="tel" formControlName="longitud" class="input input-bordered w-full" />
        @if (formUtils.isValidField(myForm, 'longitud')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'longitud')}}
        </small>
        }
      </div>

      <!-- Fecha inicio -->
      <div>
        <label class="label">Fecha inicio</label>
        <input type="date" formControlName="fecha_inicio" class="input input-bordered w-full" />
        @if (formUtils.isValidField(myForm, 'fecha_inicio')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'fecha_inicio')}}
        </small>
        }
      </div>

      <!-- Fecha fin -->
      <div>
        <label class="label">Fecha fin</label>
        <input type="date" formControlName="fecha_fin" class="input input-bordered w-full" />
        @if (formUtils.isValidField(myForm, 'fecha_fin')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'fecha_fin')}}
        </small>
        }
      </div>

      <!-- Foto -->
      <div>
        <label class="label">Foto</label>
        <input #fileInput type="file" class="file-input file-input-bordered w-full" (change)="onFileSelected($event)"
          accept="image/*" />
        @if(imagePreview) {
        <img [src]="imagePreview" alt="Preview" class="max-h-[190px] w-auto object-cover mt-4 rounded-lg shadow-md" />
        <button type="button" (click)="limpiarImagen(fileInput)" class="btn btn-error mt-2">Quitar imagen</button>
        }
        @if (formUtils.isValidField(myForm, 'imagen')){
        <small class="text-error">
          {{formUtils.getFieldError(myForm, 'imagen')}}
        </small>
        }
      </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-end mt-8 gap-4">
      <button type="button" class="btn btn-neutral" (click)="goBack()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    <h3>
      {{myForm.valid}}
    </h3>
    <h2>
      {{myForm.value | json}}
    </h2>
  </form>
</div>
