<div>
  <section class="flex flex-col md:flex-row items-center justify-between gap-4 p-4">
    <span class="text-center md:text-left w-full md:w-auto text-3xl">Convencionistas</span>
    <div class="flex flex-col sm:flex-row items-center justify-end gap-4 w-full md:w-auto">
      <div class="w-full sm:w-auto">
        <fieldset class="fieldset h-10">
          <select #convencionSelect class="select" [value]="convencionSeleccionada()"
            (change)="convencionSeleccionada.set(convencionSelect.value)">
            <option value="" selected>Todas las convenciones</option>
            @for (convencion of convenciones(); track convencion.id) {
            <option [value]="convencion.nombreEvento">{{convencion.nombreEvento}}</option>
            }
          </select>
        </fieldset>
      </div>
      <shared-search-input class="w-full sm:w-auto" placerholder="Buscar convencionista" (value)="query.set($event)"
        [debounceTime]="500" [initialValue]="query()"></shared-search-input>
      <a (click)="refrescaDatos()" class="btn btn-info">
        <shared-icon-refresh />
        Refrescar
      </a>
      <a routerLink="/convencionistas/new" class="btn btn-primary">
        <shared-icon-add />
        Nuevo
      </a>
    </div>
  </section>
  <div class="overflow-x-auto">
    <table class="table md:ml-5 w-full min-w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Clave</th>
          <th>Teléfono</th>
          <th>Perfil</th>
          <th>Convención</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        @for (convencionista of filteredConvencionistas(); track convencionista.id) {
        <tr>
          <td>{{convencionista.id}}</td>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="{{convencionista.imagen}}" alt="{{convencionista.nombreCompleto}}"
                    class="object-contain " />
                </div>
              </div>
              <div>
                <div class="font-bold">{{convencionista.nombreCompleto}}</div>
                <div class="text-sm opacity-50">{{convencionista.puesto}}</div>
              </div>
            </div>
          </td>
          <td>{{convencionista.clave}}</td>
          <td>{{convencionista.telefono}}</td>
          <td>
            {{convencionista.categoriaNombre}}
            <br />
            <span class="badge badge-ghost badge-sm">{{convencionista.perfilNombre}}</span>
          </td>
          <td>{{convencionista.nombreEvento}}
            <!-- <select #convencionistaSelect class="select select-accent" [(ngModel)]="convencionista.nombreEvento"
              (change)="actualizaConvencionista(convencionista, convencionistaSelect.value)">
              <option value="" selected>Selecciona una convención</option>
              @for (convencion of convenciones(); track convencion.id) {
              <option [value]="convencion.nombreEvento">{{convencion.nombreEvento}}</option>
              }
              </select> -->
          </td>
          <th>
            <button class="btn btn-primary btn-xs"
              [routerLink]="[`/convencionistas/${convencionista.id}/edit`]">Editar</button>
          </th>
          <th>
            <button class="btn btn-secondary btn-xs"
              (click)="abrirModal(convencionista.id)">Eliminar</button>
          </th>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<shared-confirm-modal #deleteModal titulo="¡Confirmar Eliminación!" mensajeAceptar="Si, Eliminar"
  mensaje="{{mensajeEliminar}}" (confirmar)="eliminaConvencionista()" (cancelar)="convencionistaId = 0" />
