<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-xl w-full max-w-lg shadow-lg">
    <h2 class="text-xl font-bold mb-4">Seleccionar archivos PDF</h2>

    <input type="file" (change)="seleccionarArchivos($event)" multiple accept=".pdf"
      class="file-input file-input-bordered w-full mb-4" />

    <ul class="mb-4 list-disc list-inside text-sm">
      @for (archivo of archivosSeleccionados(); track archivo.name) {
      <li>{{ archivo.name }}</li>
      }
    </ul>

    <div class="flex justify-end gap-3">
      <button class="btn btn-error" (click)="cancelar()">Cancelar</button>
      <button class="btn btn-primary" (click)="cargar()">Cargar archivos</button>
    </div>
  </div>
</div>
